<%- include("inc/header"); %>
<div class="container">
    <h4>About:</h4>
	This site was build by me (<a href="https://rtm516.co.uk">rtm516/Ryan Milner</a>) as part of my A-Level coursework, for Northallerton School &amp; Sixth Form College.
	<br>
	<br>
    <h4>Refrences:</h4>
    <table class="table table-striped table-bordered">
        <tr>
            <th>File</th>
            <th>URL</th>
        </tr>
        <tr>
            <td><img src="/img/computer_room.png" alt="Computer room" style="width:100px;height:auto;"></td>
            <td>http://www.clker.com/cliparts/a/4/2/b/11949837851724523185gis-computer_glenn_rolla_01.svg.hi.png</td>
        </tr>
        <tr>
            <td><img src="/img/federation-logo.png" alt="Federation logo" style="width:100px;height:auto;"></td>
            <td>http://www.northallertonschool.org.uk/style%20library/federation/federation-logo.png</td>
        </tr>
    </table>
</div>
<%- include("inc/footer"); %>